# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
binaries/
obj/
bin/
out/
*.dll
*.exe
*.pdb
*.app

# User secrets
secrets.json

# Visual Studio Code
.vscode/
.history/

# ASP.NET Core
appsettings.Development.json
appsettings.*.json
*.db

# npm packages
node_modules/
package-lock.json

# JetBrains Rider
.idea/

# Other
*.log
*.dSYM/
*.swp
*.tmp
*.tmp.*
*.bak
*.cache